body{
	background-color: #fffff ;
	width:100%;
}

p
{
	text-align:center;
	font-family: 'PT Sans', sans-serif; 
	font-size: 13pt;
	color: white;
 }
 
 h1{
	font-family: 'PT Sans', sans-serif; 
	color: white;
	}
	
	small{
	
	font-family: 'PT Sans', sans-serif; 
	color: white;	
	}
 
 a:hover,a:active, a:hover
{
	color:#EE872A;
}
 
#page-title
{
	text-align:center;
}

#page-header
{
	width:950px;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

#page-container
{
	background-color:#94c04b ;
	border-bottom-right-radius:1.5em;
	border-bottom-left-radius:1.5em;
	border-top-right-radius:1.5em;
	border-top-left-radius:1.5em;
	border:1px solid #333433;
	width:1000px;
	height:490px;
	margin: 0 auto; 
	padding-top: 10px;
	padding-bottom: 10px;
}

	table.reference {
    border-spacing: 0;
}

table.reference th, td {
 
table.reference th, td {
    border: 1px solid #fffff;
    padding: 0.5em 1em;
}

/* the first 'th' within the first 'tr' of the 'thead': */
table.reference thead tr:first-child th:first-child {
    border-radius: 0.6em 0 0 0;	
}
/* the last 'th' within the first 'tr' of the 'thead': */
table.reference thead tr:first-child th:last-child {
    border-radius: 0 0.6em 0 0;
		
}
/* the first 'td' within the last 'tr' of the 'tbody': */
table.reference tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.6em;
}
/* the last 'td' within the last 'tr' of the 'tbody': */
table.reference tbody tr:last-child td:last-child {
    border-radius: 0 0 0.6em 0;
}
    padding: 0.5em 1em;
}
/* the first 'th' within the first 'tr' of the 'thead': */
	thead tr:first-child th:first-child {
    border-radius: 0.6em 0 0 0;
}
/* the last 'th' within the first 'tr' of the 'thead': */
table.reference thead tr:first-child th:last-child {
    border-radius: 0 0.6em 0 0;
}
/* the first 'td' within the last 'tr' of the 'tbody': */
table.reference tbody tr:last-child td:first-child {
    border-radius: 0 0 0 0.6em;
	border-bottom: 0px;
	border-right:0px;
	border-left:0px;
}
/* the last 'td' within the last 'tr' of the 'tbody': */
table.reference tbody tr:last-child td:last-child {
    border-radius: 0 0 0.6em 0;
	border-bottom: 0px;
	border-right:0px;
	border-left:0px;
}

table.reference{
	border-collapse:collapse;
	width: 70%;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-spacing: 0;

}

table.reference tr{background-color:#f1f1f1;}

table.reference th:first-child
{
	border-left:0px;
}

table.reference th:last-child
{
	border-right:0px;
}

table.reference tbody tr:last-child td:nth-child(2)
{
	border-bottom:0px;
}

table.reference tbody tr:last-child td:nth-child(3)
{
	border-bottom:0px;
}

table.reference tbody tr:nth-child(1) td:nth-child(1)
{
	border-left:0px;
}

table.reference tbody tr:nth-child(2) td:nth-child(1)
{
	border-left:0px;
}

table.reference tbody tr:nth-child(3) td:nth-child(1)
{
	border-left:0px;
}

table.reference tbody tr:nth-child(1) td:nth-child(4)
{
	border-right:0px;
}

table.reference tbody tr:nth-child(2) td:nth-child(4)
{
	border-right:0px;
}

table.reference tbody tr:nth-child(3) td:nth-child(4)
{
	border-right:0px;
}


table.reference th{
	
	color:#94c04b;
	background-color:#333433;
	padding:3px;
	vertical-align:middle;
	text-align:center;
	padding: 5px;
	font-family: 'PT Sans', sans-serif; 
	font-size: 12pt;	
	border:1px solid #d4d4d4;
	border-top:0px;
}

table.reference th a:link,table.reference th a:visited
{
	color:#ffffff;
}

table.reference th a:hover,table.reference th a:active, td a:hover
{
	color:#EE872A;
}

table.reference tr:hover
{
	background-color: grey;
	color:#ffffff;
}

table.reference td{
	border:1px solid #d4d4d4;
	padding:6px;
	vertical-align:middle;	
	font-family: 'PT Sans', sans-serif; 
	font-size: 11pt
}

nav.vertical {

   overflow: hidden;
   text-align: center;
   width: 200px; 
   float:left;
   position:relative;
   left:13.3%;
}

 nav.vertical > ul 
 {
    list-style-type: none;
	 
  }

    nav.vertical > ul > li {
      display: block;
    }
	
	nav.vertical > ul > li > a {
	background-color: #94c04b;
	color: rgb(255,255,255);
	display: block;
	font-size: .85rem;
	font-weight: 500;
	height: 50px;
	letter-spacing: .5rem;
	line-height: 50px;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	text-transform: uppercase;
	transition: all .1s ease;
	text-decoration: none;
	border:1px solid #333433;
	  box-shadow: -0px 0px 3px 0px #333433 inset;
}

	nav.vertical > ul > li > a:hover {
		background-color: #333433;
		cursor: pointer;
	}	